<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109743646014-8n5i4uirdltouakrpho21ot4g86i2uvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109743646014-8n5i4uirdltouakrpho21ot4g86i2uvq</string>
	<key>API_KEY</key>
	<string>AIzaSyD8x1SQwgJS5dPejdXe5pKnyHq_rXH7fxk</string>
	<key>GCM_SENDER_ID</key>
	<string>109743646014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>teachme-a3517</string>
	<key>STORAGE_BUCKET</key>
	<string>teachme-a3517.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109743646014:ios:1200c20904fbc57173b86f</string>
	<key>DATABASE_URL</key>
	<string>https://teachme-a3517.firebaseio.com</string>
</dict>
</plist>